name: Simple Action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 23f2005114@ds.study.iitm.ac.in
        run: echo "Hello from GitHub Actions!"

      - name: Finish
        run: echo "Workflow complete."
